aclocal.m4
compile
configure
depcomp
install-sh
Makefile.in
missing
po4a/de/add-shell.8
po4a/de/installkernel.8
po4a/de/ischroot.1
po4a/de/remove-shell.8
po4a/de/run-parts.8
po4a/de/savelog.8
po4a/de/which.1
po4a/es/add-shell.8
po4a/es/installkernel.8
po4a/es/ischroot.1
po4a/es/remove-shell.8
po4a/es/run-parts.8
po4a/es/savelog.8
po4a/es/which.1
po4a/fr/add-shell.8
po4a/fr/installkernel.8
po4a/fr/ischroot.1
po4a/fr/remove-shell.8
po4a/fr/run-parts.8
po4a/fr/savelog.8
po4a/fr/which.1
po4a/it/add-shell.8
po4a/it/installkernel.8
po4a/it/ischroot.1
po4a/it/remove-shell.8
po4a/it/run-parts.8
po4a/it/savelog.8
po4a/it/which.1
po4a/ja/add-shell.8
po4a/ja/installkernel.8
po4a/ja/ischroot.1
po4a/ja/remove-shell.8
po4a/ja/run-parts.8
po4a/ja/savelog.8
po4a/ja/which.1
po4a/pl/add-shell.8
po4a/pl/installkernel.8
po4a/pl/ischroot.1
po4a/pl/remove-shell.8
po4a/pl/run-parts.8
po4a/pl/savelog.8
po4a/pl/which.1
po4a/po/debianutils.pot
po4a/pt/add-shell.8
po4a/pt/installkernel.8
po4a/pt/ischroot.1
po4a/pt/remove-shell.8
po4a/pt/run-parts.8
po4a/pt/savelog.8
po4a/pt/which.1
po4a/sl/add-shell.8
po4a/sl/installkernel.8
po4a/sl/ischroot.1
po4a/sl/remove-shell.8
po4a/sl/run-parts.8
po4a/sl/savelog.8
po4a/sl/which.1
